<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #393939;">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link navbar-brand fa fa-fw fa-lg fa-home fa-3x" routerLink="courrier" routerLinkActive="active"></a>

        </li>

        <li class="nav-item">
          <a class="nav-link " routerLink="consigne" routerLinkActive="active"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Consigne</a>
        </li>




        <li class="nav-item">
          <a class="nav-link " routerLink="traitement" routerLinkActive="active"><i class="fa fa-cog fa-spin fa-1x fa-fw"></i>
            Traitement </a>
        </li>




        <li class="nav-item">
          <a class="nav-link " routerLink="service-traitant" routerLinkActive="active"><i class="fa fa-server" aria-hidden="true"></i>
            Service-Traitant</a>
        </li>


      </ul>
      <span class="navbar-text">

      </span>


</nav>
